#define myfg		#F0F0F0
#define mybg		#0F0F0F
#define myaccent	#98FF98


#include ".xres/urxvt"

! black
*.color0: #444444
*.color8: #666666

! red
*.color1: #ff0044
*.color9: #ff44CC

! green
*.color2: #00FF66
*.color10: #66FFCC

! yellow
*.color3: #FFFF00
*.color11: #ffff66

! blue
*.color4: #0098FF
*.color12: #00CCFF

! magenta
*.color5: #DD0098
*.color13: #FF0098

! cyan
*.color6: #00FFFF
! cyan bright, arch logo
*.color14: #98ff98

! white
*.color7: #F0F0F0
*.color15: #FCFCFC
